{% extends "lactancia/base.html" %} 
{% load i18n %}
{% block title %}{% trans 'Aviso Legal de e-lactancia' %}{% endblock %}

{# share block  #}
{% block fb_url_top %}{% url 'lactancia:aviso_legal' %}{% endblock %}
{% block fb_url %}{% url 'lactancia:aviso_legal' %}{% endblock %}
{% block twitter_data-text %}{% trans 'Leyendo el apasionante texto del Aviso Legal de e-lactancia #Lactancia' %}{% endblock %}
{% block twitter_data-text_top %}{% trans 'Leyendo el apasionante texto del Aviso Legal de e-lactancia #Lactancia' %}{% endblock %}


{% block mainpage %}



	<div class="well">
		{% trans '<h2>AVISO LEGAL</h2>' %}

		{% trans '<h3>RESPONSABLE LEGAL</h3>' %}
		{% blocktrans %}
        <address>
  		<strong>APILAM</strong><br>
        <em>Asociación para la Promoción e Investigación científica y cultural de la Lactancia Materna</em>
	  	CIF: G98446727<br>
        <br>C/Bairén 14 - 1, 46702 <br>
  		Gandía, Valencia, España<br>
  		<a href="mailto:apilam.es@gmail.com">apilam.es@gmail.com</a>
		</address>
        {% endblocktrans %}
        
        {% blocktrans %}
		<h2>CONDICIONES DE USO</h2>
	
		<p>Las presentes condiciones legales regulan el uso permitido de esta página web (en adelante <strong>e-lactancia.org</strong>) que la Asociación para la Promoción e Investigación científica y cultural de la Lactancia Materna, (en adelante APILAM) pone gratuitamente a disposición de los usuarios de Internet. Esta página está destinada al público general pero las recomendaciones en ella recogidas no pretenden reemplazar la relación del usuario con su médico, sino complementarla.</p>

		<p>El Usuario se obliga a usar la web, los servicios y sus contenidos de forma diligente, correcta y lícita y en particular, deberá abstenerse de:</p>

		<ul>
			<li>Suprimir, eludir o manipular los derechos de propiedad intelectual y demás datos identificativos de los derechos de sus titulares incorporados a los contenidos, así como los dispositivos técnicos de protección, o cualesquiera mecanismos de información que pudieren contener los contenidos.</li>
			<li>Introducir programas, virus, macros o cualquier otro dispositivo lógico o secuencia de caracteres que causen o sean susceptibles de causar cualquier tipo de alteración en la página web o los sistemas informáticos que la soportan.</li>
			<li>Usar o instalar programas o dispositivos capaces de invalidar los controles o contraseñas de seguridad, establecidos por <strong>e-lactancia.org</strong>, estando igualmente prohibido descifrar las claves, sistemas o algoritmos de cifrado o cualquier otro elemento de seguridad de la página web o cualquiera de sus usuarios.</li>
			<li>Omitir la autoría de <strong>e-lactancia.org</strong> al compartir, copiar y redistribuir el material en cualquier medio o formato y/o adaptar, remezclar, transformar y crear a partir de dicho material.</li>
			<li>Lucrarse directa o indirectamente a través de la compartición, copia y redistribución del material en cualquier medio o formato y/o adaptación, remezcla, transformación y creación a partir de dicho material.</li>
			<li>Realizar cualquier tipo de comportamiento contrario a la Ley o la buena fe.</li>
		</ul>
        {% endblocktrans %}
        
        {% blocktrans %}
		<h3>EXCLUSIÓN DE RESPONSABILIDAD</h3>
	
		<p>Las recomendaciones recogidas en <strong>e-lactancia.org</strong> son realizadas y revisadas periódicamente por los pediatras de APILAM. <strong>e-lactancia.org</strong> publica la información contenida en esta página con fines únicamente divulgativos sin que pueda entenderse que valida su contenido o que su consulta sustituye el consejo de un profesional sanitario.</p>

		<p>Las indicaciones contenidas en <strong>e-lactancia.org</strong> no pretenden reemplazar la relación entre un usuario y su médico, sino complementarla. Si hay discrepancias, coméntelas con su médico y muéstrele <strong>e-lactancia.org</strong>, donde puede asesorarse con información actualizada avalada por publicaciones científicas.</p>

		<p><strong>e-lactancia.org</strong> no se hace responsable de los daños y perjuicios que puedan derivarse de la utilización de la información contenida en esta página web. Si aprecia algún error o dato inexacto en dicha información puede comunicarlo a la dirección de email <a href="mailto:apilam.es@gmail.com">apilam.es@gmail.com</a>.

		<p><strong>e-lactancia.org</strong> no es responsable de las pérdidas o perjuicios que pueda ocasionar al usuario por virus, indisponibilidad o cualquier otro comportamiento anómalo de la página web. <strong>e-lactancia.org</strong> ha adoptado todas las medidas de seguridad a su alcance para garantizar el correcto funcionamiento de la web y evitar la generación de cualquier tipo de daño al usuario.</p>
        {% endblocktrans %}
        
        {% blocktrans %}
		<h3>ENLACES EXTERNOS</h3>
		<p><strong>e-lactancia.org</strong> declina cualquier responsabilidad por los servicios y/o información que se preste en otras páginas enlazadas con esta Web. <strong>e-lactancia.org</strong> no controla ni ejerce ningún tipo de supervisión sobre las páginas enlazadas. Los usuarios que utilicen estos enlaces deberán consultar las condiciones legales expuestas en las páginas de destino.</p>
        {% endblocktrans %}
        
        {% blocktrans %}
		<h3>PROPIEDAD INTELECTUAL</h3>

		<p><strong>e-lactancia.org</strong> es propiedad de APILAM y está registrada bajo una <a target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Licencia Creative Commons Atribución-NoComercial-CompartirIgual 4.0 Internacional</a></p>


		<p>Los textos, imágenes, logos, signos distintivos, sonidos, animaciones, vídeos, código fuente y resto de contenidos incluidos en esta web son propiedad de <strong>e-lactancia.org</strong> o dispone en su caso, del permiso para su uso.</p>

		<p>Los usuarios de esta página web podrán compartir, copiar y redistribuir el material en cualquier medio o formato y/o adaptar, remezclar, transformar y crear a partir de dicho material siempre que se cumplan estas tres condiciones:</p>
		<ul>
			<li> se le atribuya a <strong>e-lactancia.org</strong>, </li>
			<li>su finalidad no sea comercial </li>
			<li>y cualquier obra derivada que se obtenga sea distribuída bajo la misma Licencia Creative Commons.</li>
		</ul>
		{% endblocktrans %}

        {% blocktrans %}
		<h3>LEGISLACIÓN Y JURISDICCIÓN</h3>

		<p>Esta página web se encuentra sometida a la legislación Española y en caso de litigio o controversia surgida del uso de esta página web, ambas partes se someten a la jurisdicción de los tribunales de la ciudad de Valencia.</p>
        {% endblocktrans %}
        
        {% blocktrans %}
		<h3>VERSIÓN</h3>
		Este Aviso Legal es de fecha 01/12/2013 y cualquier modificación de sus términos será publicada en la página web.
        {% endblocktrans %}
	</div>


{% endblock %}
