<!DOCTYPE html>
{% load i18n %} {% load static %} 
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'meta.html' %}
    <title>{% block title %}{% endblock %}</title>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <!—[if lt IE 9]>
    <!--      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> -->
    <![endif]—>
    <!-[if gte IE 9]>
    <style type="text/css">
        .gradient {
            filter: none;
        }
    </style>
    <![endif]->    

     <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">
     <!--<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet"> -->
     <link href="{{STATIC_URL}}css/lactancia.css" rel="stylesheet"> 
     <link href="{{STATIC_URL}}img/favicon.ico" rel="icon" type="image/x-icon">
     
      <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      {# Google Analytics #}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37964776-2', 'e-lactancia.org');
    ga('send', 'pageview');

    </script>
    <script src="//load.sumome.com/" data-sumo-site-id="5da895e2e231bac3184b2755e7cbbaa4769606cfaabea9c1d098f4530937b579" async="async"></script>
    {% block style %}
    {% endblock %}
</head>
<body id="body">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/{% if LANGUAGE_CODE == 'es' %}es_ES{% elif LANGUAGE_CODE == 'en' %}en_EN{% endif %}/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

   
        {# Begin page content #}
        
    {#  Part 1: Wrap all page content here #}
    <div id="wrap">        
    

        <div class="navbar navbar-fixed-top" style="position:fixed"> 
                <div class="navbar-inner">
                    <div class="container">
                        {% block topbar_brand %}
                        <a class="brand" href="{% block topbar_brand_url %}{% url 'lactancia:landing' %}{% endblock %}"><img src="{{ STATIC_URL }}img/logo-peq2.png"></a>
                        {% endblock %}
                        {% block topbar_search %}
                        <form class="navbar-search form-search" id="search_form" action="{% block search_bar_action %}{% url 'lactancia:buscar' %}{% endblock %}">
                          <input class="typeahead" placeholder="{% trans 'Buscar' %}" type="text" id="search_input" name="q" />
                          <!--<input type="submit" style="visibility: hidden; position: fixed;"/>-->
                        </form>
                        {% endblock %}
                        <input type="hidden" id="term-type" name="term-type" value="">
                        <input type="hidden" id="term-id" name="term-id" value="">

                        {# bloque de la derecha #}
                        {% if alert_risk %}
                          <a class="btn btn-mini btn-danger pull-right" id="btn_alert_risk" data-toggle="popover"><i class="fa fa-exclamation-circle"></i></a>
                        {% endif %} 
                        
                        {% block idiomas %}
                        <div class="btn-group pull-right" id="btn_language">
                          
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="" />
                                    <select id="language_top" name="language"  onchange="this.form.submit()" style="width: 90px;">
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                        {{ language.name_local }} 
                                    </option>
                                    {% endfor %}
                                    </select>
                            </form>    
                        </div>
                        <div class="pull-right">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="{% if LANGUAGE_CODE == 'es' %}4BLX2BB5A8KYY{% else %}BLSTZ4B6QGTJQ{% endif %}">
                        <input class="btn btn-warning btn-small" id="btn_donate" type="submit" value="{% trans 'DONA AHORA' %}"/>
                        </div>
                        </form>
                        {% endblock %}
                    </div>
                </div>
        </div>
    


        {% block hero %}
        {% endblock %}

        <div class="container">
                <br>
                  {% block titulo_mainpage %}
                  {% endblock %}
                  <br>
                  {# caja de compartir top #}
                    {% block share_top %}
                    <div class="center">
                      <div class="g-plusone" data-size="medium" data-annotation="bubble" data-width="300" style="width:32px; float:left;"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-text="{% trans 'Comprueba la compatibilidad de' %} {{N}} {% trans 'términos con la #Lactancia'  %}" data-via="APILAM_" data-lang="{{ LANGUAGE_CODE }}">{% trans 'Twittear'  %}</a>                      
                      <div class="fb-like" data-href="http://www.e-lactancia.org{% block fb_url_top %}{% url 'lactancia:landing' %}{% endblock %}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                    </div>
                  {% endblock %}

                  {% block mainpage %}
                  
                    
                  {% endblock %}
                
                  {# caja de compartir #}
                  {% block share %}
                  <div class="center">
                      <div class="g-plusone" data-size="medium" data-annotation="bubble" data-width="300" style="width:32px; float:left;"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-text="{% trans 'Comprueba la compatibilidad de' %} {{N}} {% trans 'términos con la #Lactancia'  %}" data-via="APILAM_" data-lang="{{ LANGUAGE_CODE }}">{% trans 'Twittear'  %}</a>
                      <div class="fb-like" data-href="http://www.e-lactancia.org{% block fb_url %}{% url 'lactancia:landing' %}{% endblock %}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                  </div>
                  {% endblock %}
        </div> {# de container #}
                
        <div id="push"></div>
        
    </div> {# del wrap #}

               
        
  {# FOOTER #}
  {# ===================================== #}


    {% block footer %}     
    <div id="footer">

      {# bloque donativos/créditos/estadísticas #}
      <div class="row-fluid">
        <ul class="inline text-center">
          <li><small><strong>
            <a class="white-text" href="{% url 'lactancia:donativos' %}">{% trans 'COLABORA' %}</a>
          </small></strong></li>
          <li><small><strong>
            <a class="white-text" href="{% url 'lactancia:patrocinadores' %}">{% trans 'PATROCINADORES' %}</a>
          </small></strong></li>
          <li><small><strong>
            <a class="white-text" href="{% url 'lactancia:avales' %}">{% trans 'AVALES' %}</a>
          </small></strong></li>
          <li><small><strong>
            <a class="white-text" href="{% url 'lactancia:alerta_riesgos' %}">{% trans 'ALERTAS' %}</a>
          </small></strong></li>
          <li><small><strong>
            <a class="white-text" href="{% url 'lactancia:creditos' %}">{% trans 'CONÓCENOS' %}</a>
          </small></strong></li>
          <li><small><strong>
            <a class="white-text" href="{% url 'lactancia:estadisticas' %}">{% trans 'CIFRAS' %}</a>
          </small></strong></li>
        </ul>
      </div>
      
      {# bloque apilam #}
      <div class="row-fluid">
        <p class="text-center"="apilam-text"><small>{% trans 'e-lactancia es un proyecto de <a class="white-text" href="http://apilam.org/" target="_blank">APILAM</a>, asociación para la promoción e investigación científica y cultural de la lactancia materna, bajo <a class="white-text" target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Licencia Internacional Creative Commons</a>' %}</small></p>
      </div>

      {#  bloque social #}
      <div class="row-fluid">
        <div class="btn-group center">
          <a href="{% block link_apilam %}http://apilam.org/{% endblock %}" target="_blank">
            <img id="apilam_logo_social" src="{{ STATIC_URL }}img/logo-peq2.png">
          </a>
          <a class="btn btn-link nounderline social_icon" href="{% if LANGUAGE_CODE == 'es' %}http://apilamblog.blogspot.com.es/{% else %}http://apilamblog-en.blogspot.com.es/ {% endif %}" target="_blank">
            <i class="fa fa-rss fa-2x"></i>
          </a>
          <a class="btn btn-link nounderline social_icon" href="https://www.facebook.com/pages/Apilam/747558548604817" target="_blank">
            <i class="fa fa-facebook fa-2x"></i>
          </a>
          <a class="btn btn-link nounderline social_icon" href="https://twitter.com/APILAM_" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
          <a class="btn btn-link nounderline social_icon" href="https://plus.google.com/u/2/101241264506707366398/posts/p/pub?hl={{LANGUAGE_CODE}}" target="_blank">
            <i class="fa fa-google-plus fa-2x"></i>
          </a>
          <a class="btn btn-link nounderline social_icon" href="mailto:elactancia.org@gmail.com" target="_blank">
            <i class="fa fa-envelope-o fa-2x"></i>
          </a>
        </div>
      </div>  
      {#  bloque políticas#}
      <div class="row-fluid">
        <ul class="inline text-center">
          <li><small><a class="white-text" href="{% url 'lactancia:aviso_legal' %}">{% trans 'Aviso legal' %}</a></small></li>
          <li><small><a class="white-text" href="{% url 'lactancia:privacidad' %}">{% trans 'Política de privacidad' %}</a></small></li>
          <li><small><a class="white-text" href="{% url 'lactancia:cookies' %}">{% trans 'Política de cookies' %}</a></small></li>
        </ul>
      </div>

    </div>
    {% endblock %}


 


    {% block js %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/typeahead.bundle.min.js"></script>
    <script type="text/javascript">var switchTo5x=true;</script>
    
    <script>
        
    /*var charMap = {
        'a': /[ÁÀÄÂáàáâ]/gi,
        'c': /[Çç]/gi,
        'e': /[ÉÈËÊèéêë]/gi,
        'i': /[ÍÌÏÎíìîï]/gi,
        'o': /[ÓÒÖÔóòöô]/gi,
        'u': /[ÚÙÜÛúùüû]/gi,
        'n': /[Ññ]/gi,
      };
      
     var normalize = function (input) {
            if (input) {
                $.each(charMap, function (normalized, regex) {
                        input = input.replace(regex, normalized);
                    });
            }
            return input;
        };*/
     
    /*  
    var charMap = {
    "à": "a",
    "á": "a",
    "â": "a",
    "é": "e",
    "è": "e",
    "ê": "e",
    "ë": "e",
    "É": "e",
    "ï": "i",
    "î": "i",
    "ô": "o",
    "ö": "o",
    "û": "u",
    "ù": "u",
    "ü": "u",
    "ñ": "n"    
    };
    
    var normalize = function (input) {
        $.each(charMap, function (unnormalizedChar, normalizedChar) {
            var regex = new RegExp(unnormalizedChar, 'gi');
            input = input.replace(regex, normalizedChar);
        });
        return input;
    };
    */
    

        

        
     var charMap = {
        'aAÁÀÄÂáàáâ': 'a',
        'cCÇç': 'c',
        'eEÉÈËÊèéêë': 'e',
        'iIÍÌÏÎíìîï': 'i',
        'oOÓÒÖÔóòöô': 'o',
        'uUÚÙÜÛúùüû': 'u',
        'nNÑñ': 'n',
      };
      
      var normalize = function(str) {
       if (str) {
            $.each(charMap, function(chars, normalized) {
                var regex = new RegExp('[' + chars + ']', 'gi');
                str = str.replace(regex, normalized);
            });
        }
        return str;
    }
        
        
     
        var queryTokenizer = function (q) {
            var normalized = normalize(q);
            return Bloodhound.tokenizers.nonword(normalized);
        };




        var productos = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.nonword('nombre'),
            queryTokenizer: queryTokenizer,
            limit: 5,
            local: $.map({{PRODUCTOS}}, function (name) {
                // Normalize the name - use this for searching
                //console.log(name.nombre_es)
                term = {% if LANGUAGE_CODE == 'es' %} name.nombre_es {% else %} name.nombre_en {% endif %}
                var normalized = normalize(term);
                //console.log(normalized)
                return {
                    nombre: normalized,
                    id: name.id,
                    // Include the original name - use this for display purposes
                    displayValue: term
                    };
                }),
            sorter:function(a, b) { 

                 //get input text
                 var InputString= $('.typeahead').typeahead('val');
                 //var InputString= normalize($('.typeahead').typeahead('val'));
                 
                 //move exact matches to top
                 if(InputString==a['nombre']){ return -1;}
                 if(InputString==b['nombre']){return 1;}

                 //close match without case matching
                 if(InputString.toLowerCase() ==a['nombre'].toLowerCase()){ return -1;}
                 if(InputString.toLowerCase()==b['nombre'].toLowerCase()){return 1;} 

                 if( (InputString!=a['nombre']) && (InputString!=b['nombre'])){

                      if (a['nombre'] < b['nombre']) {
                         return -1;
                      }
                      else if (a['nombre'] > b['nombre']) {
                         return 1;
                      }
                      else return 0;
                 }
              },
        });
            
        
        var grupos = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.nonword('nombre'),
            queryTokenizer: queryTokenizer,
            limit: 2,
            local: $.map({{GRUPOS}}, function (name) {
                // Normalize the name - use this for searching
                //console.log(name.termino)
                term = {% if LANGUAGE_CODE == 'es' %} name.nombre_es {% else %} name.nombre_en {% endif %}
                
                var normalized = normalize(term);
                //console.log(normalized)
                return {
                    nombre: normalized,
                    id: name.id,
                    // Include the original name - use this for display purposes
                    displayValue: term
                    };
            }),
            /*
            sorter:function(a, b) { 

                 //get input text
                 var InputString= normalize($('.typeahead').typeahead('val'));
                 //console.log(InputString);
                 
                 //move exact matches to top
                 //console.log(a); 
                 //console.log(a['nombre']);
                 if(InputString==a['nombre']){ return -1;}
                 if(InputString==b['nombre']){return 1;}

                 //close match without case matching
                 if(InputString.toLowerCase() ==a['nombre'].toLowerCase()){ return -1;}
                 if(InputString.toLowerCase()==b['nombre'].toLowerCase()){return 1;} 

                 if( (InputString!=a['nombre']) && (InputString!=b['nombre'])){

                      if (a['nombre'] < b['nombre']) {
                         return -1;
                      }
                      else if (a['nombre'] > b['nombre']) {
                         return 1;
                      }
                      else return 0;
                 }
              },
            */
        });
        
        var sinonimos = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.nonword('nombre'),
            queryTokenizer: queryTokenizer,
            limit: 2,
            local: $.map({{SINONIMOS}}, function (name) {
                // Normalize the name - use this for searching
                //console.log(name.termino)
                term = {% if LANGUAGE_CODE == 'es' %} name.nombre_es {% else %} name.nombre_en {% endif %}
                
                var normalized = normalize(term);
                //console.log(normalized)
                return {
                    nombre: normalized,
                    id: name.id,
                    // Include the original name - use this for display purposes
                    displayValue: term
                    };
            }),
            sorter:function(a, b) { 

                 //get input text
                 var InputString= normalize($('.typeahead').typeahead('val'));
                 
                 //move exact matches to top
                 if(InputString==a['nombre']){ return -1;}
                 if(InputString==b['nombre']){return 1;}

                 //close match without case matching
                 if(InputString.toLowerCase() ==a['nombre'].toLowerCase()){ return -1;}
                 if(InputString.toLowerCase()==b['nombre'].toLowerCase()){return 1;} 

                 if( (InputString!=a['nombre']) && (InputString!=b['nombre'])){

                      if (a['nombre'] < b['nombre']) {
                         return -1;
                      }
                      else if (a['nombre'] > b['nombre']) {
                         return 1;
                      }
                      else return 0;
                 }
              },
            
        });
        var escrituras = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.nonword('nombre'),
            queryTokenizer: queryTokenizer,
            limit: 2,
            local: $.map({{ESCRITURAS}}, function (name) {
                // Normalize the name - use this for searching
                //console.log(name.termino)
                var normalized = normalize(name.nombre);
                //console.log(normalized)
                return {
                    nombre: normalized,
                    id: name.id,
                    // Include the original name - use this for display purposes
                    displayValue: name.nombre
                    };
            }),
            /*
            sorter:function(a, b) { 

                 //get input text
                 var InputString= normalize($('.typeahead').typeahead('val'));
                 
                 //move exact matches to top
                 if(InputString==a['nombre']){ return -1;}
                 if(InputString==b['nombre']){return 1;}

                 //close match without case matching
                 if(InputString.toLowerCase() ==a['nombre'].toLowerCase()){ return -1;}
                 if(InputString.toLowerCase()==b['nombre'].toLowerCase()){return 1;} 

                 if( (InputString!=a['nombre']) && (InputString!=b['nombre'])){

                      if (a['nombre'] < b['nombre']) {
                         return -1;
                      }
                      else if (a['nombre'] > b['nombre']) {
                         return 1;
                      }
                      else return 0;
                 }
              },
            */
        });
        
        var marcas = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.nonword('nombre'),
            queryTokenizer: queryTokenizer,
            identify: function(obj) { return obj.termino; },
            limit: 3,
            local: $.map({{MARCAS}}, function (name) {
                // Normalize the name - use this for searching
                //console.log(name.nombre_es)
                term = {% if LANGUAGE_CODE == 'es' %} name.nombre_paises_es {% else %} name.nombre_paises_en {% endif %}
                var normalized = normalize(term);
                //console.log(normalized)
                return {
                    nombre: normalized,
                    id: name.id,
                    // Include the original name - use this for display purposes
                    displayValue: term
                    };
            }),
            
            
            
        });
        
        productos.initialize();
        grupos.initialize();
        sinonimos.initialize();
        escrituras.initialize();
        marcas.initialize();

        $('.typeahead').typeahead(
        {
            minLength: 1,
            highlight: true,
            autoselect: true
        },
        {
            name: 'producto',
            displayKey: 'displayValue',
            source: productos.ttAdapter(),
            templates: { header: '<h4 class="search-name">{% trans "Productos" %}</h4>' ,
                                empty: '<div class="empty-message">{% trans "No encontramos productos para tu consulta" %}</div>'
            }
        },
        {
            name: 'sinonimo',
            displayKey: 'displayValue',
            source: sinonimos.ttAdapter(),
            templates: { header: '<h4 class="search-name">{% trans "Sinónimos de productos" %}</h4>',
                                empty: '<div class="empty-message">{% trans "No encontramos sinónimos para tu consulta" %}</div>'
            }
        },
        {
            name: 'escritura',
            displayKey: 'displayValue',
            source: escrituras.ttAdapter(),
            templates: { header: '<h4 class="search-name">{% trans "Productos en otras escrituras" %}</h4>',
                                 empty: '<div class="empty-message">{% trans "No encontramos resultados para tu consulta" %}</div>'
            }
        },
        {
            name: 'grupo',
            displayKey: 'displayValue',
            source: grupos.ttAdapter(),
            templates: { header: '<h4 class="search-name">{% trans "Grupos" %}</h4>',
                            empty: '<div class="empty-message">{% trans "No encontramos grupos para tu consulta" %}</div>'
            }
        },
        {
            name: 'marca',
            displayKey: 'displayValue',
            source: marcas.ttAdapter(),
            templates: { header: '<h4 class="search-name">{% trans "Marcas de productos" %}</h4>', 
                                empty: '<div class="empty-message">{% trans "No encontramos marcas para tu consulta" %}</div>'
            }
        }
        
     ).bind("typeahead:selected", function(obj, datum, name) {
            //console.log(name);
            //console.log(datum.id);
            window.location.href='{% url "lactancia:buscar" %}?term_id='+datum.id+'&term_type='+name;
            $("#term-id").val(datum.id);
            $("#term-type").val(name);
      });
      
               
        {# there is a conflict between typeahead and autofocus. This is required to manually set the autofocus without interfering with the typeaheads #}
        $(document).ready(function () {
            $('#search_input').trigger('focus');
            });
    </script>
    <script>
        var width; 
        //less than 768px
        if ($(window).width() < 767){
            width = $(window).width() - 250; 
            
        }
        else{
            /* Small Devices, .visible-sm-* */
            if ($(window).width() < 991){
                width = $(window).width() - 620;
            }
            else{
                /* Medium Devices, .visible-md-* */
                if ($(window).width() < 1199){
                    width = $(window).width() - 700; 
                }
                /* Large Devices, .visible-lg-* */
                else {
                    width = 500; //$('#top_bar_right_menu').width; 
                }
            }  
        }

        $('#search_form .typeahead').css('width', width); 
        $('#search_form .tt-query').css('width', width); 
        $('#search_form .tt-hint').css('width', width);       
    </script>
    
    <script>
        $("#btn_alert_risk").popover({
            html : true, 
            placement:'bottom',
            title: '{% trans "¡Advertencia!" %}' +
                    '<button type="button" id="close" class="close" onclick="$(&quot;#btn_alert_risk&quot;).popover(&quot;hide&quot;);">&times;</button>', 
            content: '{% trans "Se ha modificado recientemente el nivel de riesgo de al menos uno de los términos." %}' + '<br/><br/> <a href="{% url "lactancia:alerta_riesgos" %}">{% trans "Más información" %}</a>'
        });
    </script>
    
	{% endblock %}
    <script type="text/javascript" id="cookiebanner"
    src="{% get_static_prefix %}js/cookiebanner.min.js"
    data-linkmsg="{% trans 'política de privacidad' %}"
    data-message="{% trans 'Usamos cookies para mejorar tu experiencia. Al continuar navegando en nuestro sitio, aceptas el uso de nuestras cookies. Más información sobre nuestra ' %}"
    data-moreinfo="{% url 'lactancia:privacidad' %}">
    </script>
    {% block typeahead %}
    
    {% endblock %}
</body>
</html> 
