{% extends "lactancia/base.html" %} 
{% load i18n %}


{% block title %}Créditos de e-lactancia{% endblock %}

{# share block #}
{% block fb_url %}{% url 'lactancia:creditos' %}{% endblock %}
{% block fb_url_top %}{% url 'lactancia:creditos' %}{% endblock %}
{% block twitter_data-text %}{% trans "Descubre quiénes están detrás de e-lactancia " %} #Lactancia{% endblock %}
{% block twitter_data-text_top %}{% trans "Descubre quiénes están detrás de e-lactancia " %} #Lactancia{% endblock %}



{% block mainpage %}

<h1>{% trans "Conócenos" %}</h1>



<div class="row-fluid col-wrap">
  <div class="well credit-well col span4">
    <img class="img-rounded" data-src="holder.js/200x300" src="/static/img/01jm.jpg">
    <h4>{% trans "Creador y coordinador " %}</h4>
    <p class="white-text"><strong>Jose María Paricio Talayero</strong><br> {% trans "Pediatra Doctor en Medicina" %}</p>
  </div>

  <div class="well credit-well col span4">
    <img class="img-rounded" data-src="holder.js/200x300" src="/static/img/02marta.jpg">
    <h4>{% trans "Revisión de contenidos y asesoramiento" %}</h4>
    <p class="white-text"><strong>Marta Sánchez Palomares</strong><br> {% trans "Médica Pediatra" %}</p>
  </div>

  <div class="well credit-well col span4">
    <img class="img-rounded" data-src="holder.js/200x300" src="/static/img/03leo.jpg">
    <h4>{% trans "Revisión de contenidos y traducción al inglés" %}</h4>
    <p class="white-text"><strong>Leonardo Landa Rivera</strong><br> {% trans "Pediatra especialista en Neonatología" %}</p>
  </div>
</div>

<div class="row-fluid base col-wrap">
  <div class="well credit-well col-base span4"></div>
  <div class="well credit-well col-base span4"></div>
  <div class="well credit-well col-base span4"></div>
</div>


<div class="row-fluid col-wrap">
  <div class="well credit-well col span4">
    <img class="img-rounded" data-src="holder.js/200x300" src="/static/img/04javi.jpg">
    <h4>{% trans "Desarrollo" %}</h4>
    <p class="white-text"><strong>Javier Vicente Robledo</strong><br> {% trans "Doctor en Ingeniería Informática" %}</p>
  </div>

  <div class="well credit-well col span4">
    <img class="img-rounded" data-src="holder.js/200x300" src="/static/img/05bapt.jpg">
    <h4>{% trans "Diseño" %}</h4>
    <p class="white-text"><strong>Baptiste Pons Tarrazó</strong><br> {% trans "Diseñador Gráfico" %}</p>
  </div>

  <div class="well credit-well col span4">
    <img class="img-rounded" data-src="holder.js/200x300" src="/static/img/06yasmin.jpg">
    <h4>{% trans "Comunicación" %}</h4>
    <p class="white-text"><strong>Yasmín Paricio Burtin</strong><br> {% trans "Licenciada en Periodismo" %}</p>
  </div>
</div>

<div class="row-fluid base col-wrap">
  <div class="well credit-well col-base span4"></div>
  <div class="well credit-well col-base span4"></div>
  <div class="well credit-well col-base span4"></div>
</div>


<div class="row-fluid col-wrap">

  {% if textos %}
      {% for t in textos %}
        {% if t.visible %}
          <div class="well col span6">
            <h2>{{t.title}}</h2>
              {{ t.content|safe|linebreaks}}
          </div>
        {% endif %}
      {% endfor %}
  {% endif%}
 
</div>

<div class="row-fluid base col-wrap">
  {% if textos %}
      {% for t in textos %}
        {% if t.visible %}
        <div class="well col-base span6"></div>
        {% endif %}
      {% endfor %}
  {% endif %}
</div>

<div class="row-fluid">
    <div class="span6">
        <h3>{% trans "Cómo citar esta web" %}</h3>
        {% trans "Puedes citar esta web para tus trabajos científicos. Encontrarás este mismo desplegable en cada ficha de la web para que puedas hacer citas bibliográficas de términos concretos." %}
        <br/><br/>
        {% trans "Si necesitas citar la web de e-lactancia, abajo puedes encontrar varios formatos de cita, según tus necesidades." %}
        {% trans "Elige el formato de cita bibliográfica que prefieras. Puedes copiar el texto de la cita y también descargarlo en tu equipo presionando el botón" %}:
        <div class="row" style="margin: 20px 20px 20px 5px;">
            <div class="span6">
                <select id="citation_type" name="citation_type">
                   {% if LANGUAGE_CODE == 'es' %}
                    <option value="APA" >Cita estilo APA</option>
                    <option value="chicago" >Cita estilo Chicago</option>
                    <option value="vancouver" >Cita estilo Vancouver</option>
                    <option value="RIS" >Fichero formato RIS</option>
                    <option value="enw" >Fichero formato EndNote</option>
                    <option value="bibtex" >Fichero formato BibTex</option>
                    {% else %}
                    <option value="APA" >APA citation format</option>
                    <option value="chicago" >Chicago citation format</option>
                    <option value="vancouver" >Vancouver citation format</option>
                    <option value="RIS" >RIS format file</option>
                    <option value="enw" >EndNote format file</option>
                    <option value="bibtex" >BibTex format file</option>
                    {% endif %}
                </select> 
            </div>
            <div id="reference"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{{ block.super }}
<script>
            $("#citation_type").val('APA');
</script>
<script>
function generate_citation(citation) {
    var citation = $("#citation_type").val();
    // print the citation and generate button
    //console.log(citation)
    //console.log(term_type)
    //console.log(term_id)
    $.get('/download-citation/', {citation_type: citation  }, function(data){
        $('#reference').html(data);
    });      
    //console.log("final de la fiesta.")
    }

$(document).ready(function(){
    generate_citation();
});

$('#citation_type').on('change', function() {
    generate_citation();
});

</script>
{% endblock %}