{% extends "lactancia/base.html" %} 
{% load i18n %}


{% block title %}Créditos de e-lactancia{% endblock %}

{# share block #}
{% block fb_url %}{% url 'lactancia:creditos' %}{% endblock %}
{% block fb_url_top %}{% url 'lactancia:creditos' %}{% endblock %}
{% block twitter_data-text %}{% trans "Descubre quiénes están detrás de e-lactancia " %} #Lactancia{% endblock %}
{% block twitter_data-text_top %}{% trans "Descubre quiénes están detrás de e-lactancia " %} #Lactancia{% endblock %}



{% block mainpage %}

<h1>{% trans "Conócenos" %}</h1>



<div class="row-fluid col-wrap">
  <div class="well credit-well col span4">
    <img class="img-rounded" data-src="holder.js/200x300" src="/static/img/01jm.jpg">
    <h4>{% trans "Creador y coordinador " %}</h4>
    <p class="white-text"><strong>Jose María Paricio Talayero</strong><br> {% trans "Pediatra Doctor en Medicina" %}</p>
  </div>

  <div class="well credit-well col span4">
    <img class="img-rounded" data-src="holder.js/200x300" src="/static/img/02marta.jpg">
    <h4>{% trans "Revisión de contenidos y asesoramiento" %}</h4>
    <p class="white-text"><strong>Marta Sánchez Palomares</strong><br> {% trans "Médica Pediatra" %}</p>
  </div>

  <div class="well credit-well col span4">
    <img class="img-rounded" data-src="holder.js/200x300" src="/static/img/03leo.jpg">
    <h4>{% trans "Revisión de contenidos y traducción al inglés" %}</h4>
    <p class="white-text"><strong>Leonardo Landa Rivera</strong><br> {% trans "Pediatra especialista en Neonatología" %}</p>
  </div>
</div>

<div class="row-fluid base col-wrap">
  <div class="well credit-well col-base span4"></div>
  <div class="well credit-well col-base span4"></div>
  <div class="well credit-well col-base span4"></div>
</div>


<div class="row-fluid col-wrap">
  <div class="well credit-well col span4">
    <img class="img-rounded" data-src="holder.js/200x300" src="/static/img/04javi.jpg">
    <h4>{% trans "Desarrollo" %}</h4>
    <p class="white-text"><strong>Javier Vicente Robledo</strong><br> {% trans "Doctor en Ingeniería Informática" %}</p>
  </div>

  <div class="well credit-well col span4">
    <img class="img-rounded" data-src="holder.js/200x300" src="/static/img/05bapt.jpg">
    <h4>{% trans "Diseño" %}</h4>
    <p class="white-text"><strong>Baptiste Pons Tarrazó</strong><br> {% trans "Diseñador Gráfico" %}</p>
  </div>

  <div class="well credit-well col span4">
    <img class="img-rounded" data-src="holder.js/200x300" src="/static/img/06yasmin.jpg">
    <h4>{% trans "Comunicación" %}</h4>
    <p class="white-text"><strong>Yasmín Paricio Burtin</strong><br> {% trans "Licenciada en Periodismo" %}</p>
  </div>
</div>

<div class="row-fluid base col-wrap">
  <div class="well credit-well col-base span4"></div>
  <div class="well credit-well col-base span4"></div>
  <div class="well credit-well col-base span4"></div>
</div>


<div class="row-fluid col-wrap">

  {% if textos %}
      {% for t in textos %}
        {% if t.visible %}
          <div class="well col span6">
            <h2>{{t.title}}</h2>
              {{ t.content|safe|linebreaks}}
          </div>
        {% endif %}
      {% endfor %}
  {% endif%}
 
</div>

<div class="row-fluid base col-wrap">
  {% if textos %}
      {% for t in textos %}
        {% if t.visible %}
        <div class="well col-base span6"></div>
        {% endif %}
      {% endfor %}
  {% endif %}
</div>
  

{% endblock %}