{% extends "lactancia/detalle_p.html" %} 
{% load i18n %}
{% block title %}{% trans "Compatibilidad de" %} {{aliasp.nombre}} {% trans "con la lactancia materna" %}{% endblock %}

{# share block #}
{% block fb_url %}{% url 'lactancia:detalle_ap' aliasp.id %}{% endblock %}
{% block fb_url_top %}{% url 'lactancia:detalle_ap' aliasp.id %}{% endblock %}
{% block twitter_text %}{% trans "Comprueba la compatibilidad de" %} {{aliasp.nombre}} {% trans "con la #lactancia" %}{% endblock %}
{% block twitter_text_top %}{% trans "Comprueba la compatibilidad de" %} {{aliasp.nombre}} {% trans "con la #lactancia" %}{% endblock %}


{% block modal_newletter %}
{% include 'lactancia/partial_newsletter_alias.html' %}
{% endblock %}



{% block prod_header %}{{ aliasp.nombre }}{% endblock %}
{% block alternativa_no_razon %}{{aliasp.nombre}}{% endblock %}
{% block alternativa_no_sin_razon %}{{aliasp.nombre}}{% endblock %}


{% block alias_text %}
	<strong>{{aliasp.nombre}}</strong> {% trans "es más comúnmente conocido como" %} <a href="{% url 'lactancia:detalle_p' prod.id %}">{{prod.nombre}}</a>. 
	{% if prod_alias|length > 1 %}
		{% trans "Esta es una lista de otros posibles nombres" %}:
	{% endif %}
{% endblock %}
{% block listado_alias %}
    {% for alias in prod_alias %}
        {% if aliasp.id != alias.id %}
	        <li><a href="{% url 'lactancia:detalle_ap' alias.id %}"  >{{ alias.nombre }}</a></li>
	    {% endif %}
    {% endfor %}
{% endblock %}

{% block name_main_prod_otras_escrituras %}{{aliasp.nombre}}{% endblock %}

{% block term_en_marca %}{{aliasp.nombre}}{% endblock %}
{% block term_en_marca_composicion %}{{aliasp.nombre}}{% endblock %}




{% block term_plural %}{{aliasp.nombre}}{% endblock %}
{% block term_singular %}{{aliasp.nombre}}{% endblock %}

