{% extends "lactancia/base.html" %} 
{% load i18n %} {% load static %} 
{% block style %}
<link href="{{STATIC_URL}}css/landing.css" rel="stylesheet">
<meta name="alexaVerifyID" content="i6GOufykI4G0GqzPWU9HIEn3U4U"/>
<style>
    #hero {
        background: url('{{ STATIC_URL }}img/foto-coche-light-corte2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock %}


{% block topbar_brand %}
{% endblock %}
{% block topbar_search %}
{% endblock %}



{% block hero %}

<div id="hero">
    <div id="hero-wrap">
        <a  href="{% url 'lactancia:landing' %}"><img class="center-logo" src="{{ STATIC_URL }}img/logo-sombra.png"></a> 
    </div>    
    <div id="hero-wrap-form"> 
        <div class="container">
            <div class="row">
                <div class="center">
                    <form class="form-search" action="{% url 'lactancia:buscar' %}" style="margin-top:-25px;">
                        {% csrf_token %}
                        <input class="typeahead input-xxlarge" placeholder="{% trans 'Escribe tu búsqueda' %}" type="text" id="search_input" name="q"/>
                        <!--<input class="btn btn-info" type="submit" value="{% trans 'Buscar' %}" style="margin-top:20px;"/>-->
                        <p class="help-block">
                            {% block help_landing %}
                                {% trans 'Por ejemplo' %} 
                                <a class="white-link" href="{% url 'lactancia:buscar' %}?term_id=816&term_type=producto">{% trans 'Ibuprofeno' %}</a>,
                                <a class="white-link" href="{% url 'lactancia:buscar' %}?term_id=958&term_type=marca">{% trans 'Couldina' %}</a>,
                                <a class="white-link" href="{% url 'lactancia:buscar' %}?term_id=544&term_type=sinonimo">{% trans 'Bayas de Goji' %}</a>,
                                <a class="white-link" href="{% url 'lactancia:buscar' %}?term_id=655&term_type=sinonimo">{% trans 'Píldora del día después' %}</a>,
                                <a class="white-link" href="{% url 'lactancia:buscar' %}?term_id=207&term_type=grupo">{% trans 'Fitoterapia' %}</a>.<br>
                                {% trans 'Última actualización' %}: {{last_update|date:"DATETIME_FORMAT"}} (CET)
        
                                <div class="center">
                                    <div class="fb-like" data-href="http://www.e-lactancia.org{% block fb_url_top %}{% url 'lactancia:landing' %}{% endblock %}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                                    <div class="g-plusone" data-size="medium" data-annotation="bubble" data-width="300" style="width:32px; float:left;"></div>
                                    <a href="https://twitter.com/share" class="twitter-share-button" data-text="{% trans 'Comprueba la compatibilidad de' %} {{N}} {% trans 'términos con la #Lactancia'  %}" data-via="APILAM_" data-lang="{{ LANGUAGE_CODE }}">{% trans 'Twittear' %}</a>

                                </div>
                                <br>
                            {% endblock %}
                        </p>
                    </form>  
                    
                </div>
            </div>
        </div>
    </div>
</div>      

{% endblock %}

{% block titulo_mainpage %}
    <h1 id="logo-moto" class="lead-landing text-center">
            {% trans 'Consulta la compatibilidad de la <strong>Lactancia</strong> con' %} {{N}} {% trans 'términos' %}
    </h1>      
{% endblock %}

{% block share_top %}
{% endblock %}

{% block mainpage %}    
    
    <div class="row-fluid">
        <div class="risk empty-space risk-miniblock  span12"></div>
    </div>
    <div class="row-fluid">
        {% for cajita in cajitas|slice:":3" %}
        <div class="span4">
          <i class="fa {{cajita.icono.fontawesome_nombre}} fa-3x text-info center-icon"></i><h4 class="text-info text-center">{{cajita.titulo}}</h4>
          <p class="text-center">{{cajita.texto|safe}}</p>
          {% if cajita.link %}
          <p class="text-center"><a href="{{cajita.link}}" target="_blank">{{cajita.texto_link}}</a></p>
          {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="row-fluid">
        <div class="risk empty-space risk-miniblock  span12"></div>
    </div>
    <div class="row-fluid">
        {% for cajita in cajitas|slice:"3:" %}
        <div class="span4 {% if forloop.counter == 1 %}{% if cajitas|length == 4 %} offset4 {% elif cajitas|length == 5 %} offset2 {% endif %}{% endif %}">
          <i class="fa {{cajita.icono.fontawesome_nombre}} fa-3x text-info center-icon"></i>{% if cajita.publicidad %}<p class="text-center"><sup>{% trans 'Publicidad' %}</sup></p>{% endif %}<h4 class="text-info text-center">{{cajita.titulo}}</h4>
          <p class="text-center">{{cajita.texto|safe}}</p>
          {% if cajita.link %}
          <p class="text-center"><a href="{{cajita.link}}" target="_blank">{{cajita.texto_link}}</a></p>
          {% endif %}
        </div>
        {% endfor %}
    </div>

    

<div class="container">
    <div class="row-fluid">
        <div class="risk empty-space risk-miniblock  span12"></div>
    </div>
    <div class="row-fluid">
        <div class="risk empty-space risk-miniblock  span12"></div>
    </div>
    <h2 class="text-center">
            {% trans 'Entidades que recomiendan el uso de e-lactancia' %}
    </h2>  
    <div class="row-fluid press">
        {% for aval in avales %}
        <div class="span3">
            <a href="{% url 'lactancia:avales' %}#{{aval.id}}" target="_blank"><img class="logo grayscale" src="{{aval.logo.url}}"></a>
        </div>
        {% endfor %}
    </div>
</div>

    
{% endblock %}

{% block share %}
{% endblock %}

    {% block typeahead %}
    
    {#  script for the image background #}
    <!--<script src="{{ STATIC_URL }}js/jquery.backstretch.min.js"></script>
    <script>
        $("#hero").backstretch("{{ STATIC_URL }}img/foto-coche-light-corte3.jpg");
    </script>-->
    {% endblock %}
     
      <!--      [
      "{{ STATIC_URL }}img/bg-carrusell-5.jpg",
      "{{ STATIC_URL }}img/bg-carrusell-4.jpg",
      "{{ STATIC_URL }}img/bg-carrusell-2.jpg",
      "{{ STATIC_URL }}img/bg-carrusell-3.jpg",
      "{{ STATIC_URL }}img/bg-carrusell-1.jpg"  ], {duration: 9000, fade: 2500});
    </script>-->
