{% load static %} 
{% load i18n %} 
    <footer class="footer">
      <div class="container" id="container-footer">
        {% block footer %}
        <div class="content-footer">
            <div class="row">

                {# bloque de logo de apilam y texto sobre proyecto #}
                <div class="col-lg-4 col-xs-12 col-sm-12 footer_apilam">
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-0 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-0">
                            <img src="{{ STATIC_URL }}img/logo-apilam-.png" id="footer_logo"></a>
                        </div>
                        <div class="col-xs-0 col-sm-0 col-md-0 col-lg-1"></div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <p>{% trans 'e-lactancia es un proyecto de <a class="white-text" href="http://apilam.org/" target="_blank">APILAM</a>, asociación para la promoción e investigación científica y cultural de la lactancia materna, bajo <a class="white-text" target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Licencia Internacional Creative Commons</a>' %}</p>
                        </div>
                    </div>
                </div>
                
                {# bloque de links a secciones web #}
                <div class="col-lg-4 col-lg-offset-0 col-md-4  col-md-offset-2 col-sm-10 col-sm-offset-0 col-xs-12 col-xs-offset-0 footer_links">
                    <h5 class="hidden-lg hidden-md">&nbsp </h5>
                    <div class="row">
                        <div class="col-xs-8" style="padding:0;">
                            <ul class="list-unstyled">
                                <li>
                                    <a class="link-contrast" href="{% url 'lactancia:patrocinadores' %}" rel="nofollow">{% trans "PATROCINAN" %}</a>
                                </li>
                                <li>
                                    <a class="link-contrast" href="{% url 'lactancia:avales' %}" rel="nofollow">{% trans "CITAN Y RECOMIENDAN" %}</a>
                                </li>
                                <li>
                                    <a class="link-contrast" href="{% url 'lactancia:creditos' %}#citation" rel="nofollow">{% trans "CÓMO CITAR E-LACTANCIA" %}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-4" style="padding:0;">
                            <ul class="list-unstyled">
                                <li>
                                    <a class="link-contrast" href="{% url 'lactancia:alerta_riesgos' %}" rel="nofollow">{% trans "ALERTAS" %}</a>
                                </li>
                                <li>
                                    <a class="link-contrast" href="{% url 'lactancia:creditos' %}" rel="nofollow">{% trans "NOSOTROS" %}</a>
                                </li>
                                <li>
                                    <a class="link-contrast" href="{% url 'lactancia:estadisticas' %}" rel="nofollow">{% trans "ESTADÍSTICAS" %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                {# bloque de RRSS y botones de donar y suscripcion #}
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 footer_rrss_donativos">
                    <h5 class="hidden-lg hidden-md">&nbsp </h5>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 visible-xs visible-sm" style="margin-bottom:20px;">
                            <ul class="list-unstyled list-inline">
                                <li>
                                    <a class="link-contrast footer-icon-container" href="http://apilam.org/blog/" target="_blank"> blog
                                    </a>
                                </li>
                                <li>
                                    <a class="link-contrast footer-icon-container" href="https://www.facebook.com/APILAM.Lactancia.Materna/" rel="Publisher" target="_blank"> <i class="fa fa-facebook fa-lg"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="link-contrast footer-icon-container" href="https://twitter.com/apilam_" target="_blank"> <i class="fa fa-twitter fa-lg"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="link-contrast footer-icon-container" href="https://instagram.com/apilam_breastfeeding_museum/" target="_blank"> <i class="fa fa-instagram fa-lg"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                    
                        <div class="col-xs-5 col-sm-5 visible-md visible-lg" style="margin-bottom:20px;">
                            
                            <ul class="list-unstyled list-inline" style="margin-top:0px;">
                                <li style="margin: 5px 0;">
                                    <a class="link-contrast footer-icon-container" href="http://apilam.org/blog/" target="_blank"> blog
                                    </a>
                                </li>
                                <li style="margin: 5px 0;">
                                    <a class="link-contrast footer-icon-container" href="https://www.facebook.com/APILAM.Lactancia.Materna/" rel="Publisher" target="_blank"> <i class="fa fa-facebook fa-lg"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="list-unstyled list-inline" style="margin-top:0px;">
                                <li style="margin: 5px 0;">
                                    <a class="link-contrast footer-icon-container" href="https://twitter.com/apilam_" target="_blank"> <i class="fa fa-twitter fa-lg"></i>
                                    </a>
                                </li>
                                <li style="margin: 5px 0;">
                                    <a class="link-contrast footer-icon-container" href="https://instagram.com/apilam_breastfeeding_museum/" target="_blank"> <i class="fa fa-instagram fa-lg"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>   
                        <div class="col-xs-7 col-sm-7" style="margin-bottom:20px;">
                        
                            {# BOTON DONAR #}
                            <a class="btn round btn-donate" href="{% url 'lactancia:donativos' %}">{% trans 'DONA AHORA' %}</a>
                            
                            {# BOTON SUSCRIPCION #}
                            <a class="btn btn-mail outline" href="#subscribe" rel="nofollow" onclick="$('#subscribe').modal('show');" style="margin-top:10px;"><i class="fa fa-envelope-o fa-fw"></i>&nbsp;{% trans 'Suscríbete' %}</a>
                        
                    </div>
                </div>
            </div>
            
            
            
            {#  bloque políticas#}
            <div class="row">
                <div class="col-xs-12 footer_politicas">
                    <ul class="list-unstyled list-inline" >
                      <li><small><a class="white-text" href="{% url 'lactancia:aviso_legal' %}" rel="nofollow">{% trans 'Aviso legal' %}</a></small></li>
                      <li>|</li>
                      <li><small><a class="white-text" href="{% url 'lactancia:privacidad' %}" rel="nofollow">{% trans 'Política de privacidad' %}</a></small></li>
                      <li>|</li>
                      <li><small><a class="white-text" href="{% url 'lactancia:cookies' %}" rel="nofollow">{% trans 'Política de cookies' %}</a></small></li>
                    </ul>
                </div>
                <div class="col-xs-12 footer_desarrollos">
                     <ul class="list-unstyled list-inline">
                        <li><small><a class="white-text" href="http://baptistepons.com" target="_blank">{% trans 'Diseño: Baptiste Pons' %}</a></small></li>
                        <li>|</li>
                        <li><small><a class="white-text" href="https://aprendecopy.com" target="_blank">{% trans 'Desarrollo & Copywriting: Javi Vicente' %}</a></small></li>
                     </ul>
                </div>
                {% block footer-icons-home %}
                {% if cajitas %} {# estamos en la home y hay que indicar el uso de iconos de Flaticon #}
                <div class="row">
                 <div class="col-xs-12">
                    <ul class="list-unstyled list-inline" >
                        <li><small>{% trans "Los iconos del corazón, la hoja y la cruz médica han sido cedidos graciosamente por Flaticon" %}</small></li>
                     </ul>
                 </div>
                </div>
            {% endif %}
            {% endblock %}
            </div>
          
          </div>
          {% endblock %}
          
      </div>
    </footer>
