{% load i18n %}

{# for XS and MD and LG #}
<div class="row iguala_altura top-bottom-margins is-flex visible-xs hidden-sm visible-md visible-lg">
    <div class="column col-xs-12 col-md-3">
        <div class="row">
            <div class="col-xs-3">
                <div class="box grey-box squared risk-level0-legend"></div>
            </div>
            <div class="col-xs-8" style="margin-top:20px; padding:0;">
                <p class="small link_r0"><strong>{{risk0_info.titulo}}.</strong></p>
            </div>
            <div class="col-xs-10">
                <p class="small">{{risk0_leyenda.descripcion}}</p>
                <p class="small"><a id="btn_risk0" data-toggle="popover">{% trans 'Más información' %}</a></p>
            </div>
        </div>  
    </div>
    
    <div class="column col-xs-12 col-md-3">
        <div class="row">
            <div class="col-xs-3">
                <div class="box grey-box squared risk-level1-legend"></div>
            </div>
            <div class="col-xs-8" style="margin-top:20px; padding:0;">
                <p class="small link_r1"><strong>{{risk1_info.titulo}}.</strong></p>
            </div>
            <div class="col-xs-10">
                <p class="small">{{risk1_leyenda.descripcion}}</p>
                <p class="small"><a id="btn_risk1" data-toggle="popover">{% trans 'Más información' %}</a></p>
            </div>
        </div>  
    </div>
    
    <div class="column col-xs-12 col-md-3">
        <div class="row">
            <div class="col-xs-3">
                <div class="box grey-box squared risk-level2-legend"></div>
            </div>
            <div class="col-xs-8" style="margin-top:20px; padding:0;">
                <p class="small link_r2"><strong>{{risk2_info.titulo}}.</strong></p>
            </div>
            <div class="col-xs-10">
                <p class="small">{{risk2_leyenda.descripcion}}</p>
                <p class="small"><a id="btn_risk2" data-toggle="popover">{% trans 'Más información' %}</a></p>
            </div>
        </div>  
    </div>
    
    <div class="column col-xs-12 col-md-3">
        <div class="row">
            <div class="col-xs-3">
                <div class="box grey-box squared risk-level3-legend"></div>
            </div>
            <div class="col-xs-8" style="margin-top:20px; padding:0;">
                <p class="small link_r3"><strong>{{risk3_info.titulo}}.</strong></p>
            </div>
            <div class="col-xs-10">
                <p class="small">{{risk3_leyenda.descripcion}}</p>
                <p class="small"><a id="btn_risk3" data-toggle="popover">{% trans 'Más información' %}</a></p>
            </div>
        </div>  
    </div>
    
</div>

{# for SM devices #}
<div class="row iguala_altura top-bottom-margins hidden-xs visible-sm hidden-md hidde-lg">
    <div class="column col-sm-6">
        <div class="row">
            <div class="col-xs-3">
                <div class="box grey-box squared risk-level0-legend"></div>
            </div>
            <div class="col-xs-8" style="margin-top:20px; padding:0;">
                <p class="small link_r0"><strong>{{risk0_info.titulo}}.</strong></p>
            </div>
            <div class="col-xs-10">
                <p class="small">{{risk0_leyenda.descripcion}}</p>
                <p class="small"><a id="btn_risk0_sm" data-toggle="popover">{% trans 'Más información' %}</a></p>
            </div>
        </div>  
    </div>
    
    <div class="column col-sm-6">
        <div class="row">
            <div class="col-xs-3">
                <div class="box grey-box squared risk-level1-legend"></div>
            </div>
            <div class="col-xs-8" style="margin-top:20px; padding:0;">
                <p class="small link_r1"><strong>{{risk1_info.titulo}}.</strong></p>
            </div>
            <div class="col-xs-10">
                <p class="small">{{risk1_leyenda.descripcion}}</p>
                <p class="small"><a id="btn_risk1_sm" data-toggle="popover">{% trans 'Más información' %}</a></p>
            </div>
        </div>  
    </div>
</div>
<div class="row iguala_altura top-bottom-margins hidden-xs visible-sm hidden-md">
    
    <div class="column col-sm-6">
        <div class="row">
            <div class="col-xs-3">
                <div class="box grey-box squared risk-level2-legend"></div>
            </div>
            <div class="col-xs-8" style="margin-top:20px; padding:0;">
                <p class="small link_r2"><strong>{{risk2_info.titulo}}.</strong></p>
            </div>
            <div class="col-xs-10">
                <p class="small">{{risk2_leyenda.descripcion}}</p>
                <p class="small"><a id="btn_risk2_sm" data-toggle="popover">{% trans 'Más información' %}</a></p>
            </div>
        </div>  
    </div>
    
    <div class="column col-sm-6">
        <div class="row">
            <div class="col-xs-3">
                <div class="box grey-box squared risk-level3-legend"></div>
            </div>
            <div class="col-xs-8" style="margin-top:20px; padding:0;">
                <p class="small link_r3"><strong>{{risk3_info.titulo}}.</strong></p>
            </div>
            <div class="col-xs-10">
                <p class="small">{{risk3_leyenda.descripcion}}</p>
                <p class="small"><a id="btn_risk3_sm" data-toggle="popover">{% trans 'Más información' %}</a></p>
            </div>
        </div>  
    </div>
    
</div>


    


<div class="row">
    <div class="col-xs-12 col-sm-10">
        <p class="disclaimer-text">{{ prod_disclaimer.contenido | safe }}</p>
    </div>
</div>
