{% load static %} 
{% load i18n %} 



<div class="row"><img src="{{ STATIC_URL }}img/newsletter_icon.png"  style="display:block; width:150px; margin: 0 auto;"></div>
<h3 class="text-center">{% trans "<strong>Únete</strong> a nuestro boletín"  %}</h3>

<p class="" style="display:block; width:80%; margin: 0 auto;">{% trans "Recibe información actualizada, novedades y noticias sobre la lactancia, el proyecto e-lactancia y otras iniciativas de APILAM" %}</p>


{% if LANGUAGE_CODE == 'es' %}

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://apilam.us18.list-manage.com/subscribe/post?u=76518ff38b91295fffe3ffc4b&amp;id=baf21531c4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-FNAME">Nombre (sin apellidos)  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Dirección de correo  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>

<div class="mc-field-group input-group">
    <strong>Política de privacidad  <span class="asterisk">*</span>
</strong>
    <ul><li><input type="radio" value="Acepto la política de privacidad" name="GRPDOK" id="mce-GRPDOK-0"><label for="mce-GRPDOK-0">Acepto la política de privacidad</label></li>
</ul>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_76518ff38b91295fffe3ffc4b_baf21531c4" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Dame de alta" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='GRPDOK';ftypes[2]='radio'; /*
 * Translated default messages for the $ validation plugin.
 * Locale: ES
 */
$.extend($.validator.messages, {
  required: "Este campo es obligatorio.",
  remote: "Por favor, rellena este campo.",
  email: "Por favor, escribe una dirección de correo válida",
  url: "Por favor, escribe una URL válida.",
  date: "Por favor, escribe una fecha válida.",
  dateISO: "Por favor, escribe una fecha (ISO) válida.",
  number: "Por favor, escribe un número entero válido.",
  digits: "Por favor, escribe sólo dígitos.",
  creditcard: "Por favor, escribe un número de tarjeta válido.",
  equalTo: "Por favor, escribe el mismo valor de nuevo.",
  accept: "Por favor, escribe un valor con una extensión aceptada.",
  maxlength: $.validator.format("Por favor, no escribas más de {0} caracteres."),
  minlength: $.validator.format("Por favor, no escribas menos de {0} caracteres."),
  rangelength: $.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
  range: $.validator.format("Por favor, escribe un valor entre {0} y {1}."),
  max: $.validator.format("Por favor, escribe un valor menor o igual a {0}."),
  min: $.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
});}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

<small>APILAM te informa que los datos de carácter personal que nos proporciones rellenando este formulario serán tratados por APILAM como responsable de esta web.
La finalidad de la recogida y tratamiento de los datos personales que te solicitamos es para gestionar el alta a esta suscripción y remitir boletines periódicos con información y oferta prospectiva de productos o servicios propios.</small><br/><br/>
<small>Legitimación: Consentimiento del interesado.</small><br/><br/>
<small>Como usuario e interesado te informo que los datos que nos facilitas estarán ubicados en los servidores de Mailchimp (proveedor de email marketing de APILAM) fuera de la UE en EEUU.  Mailchimp está acogido al acuerdo EU-US Privacy Shield, cuya información está disponible aquí, aprobado por el Comité Europeo de Protección de Datos. Ver política de privacidad de Mailchimp. (https://mailchimp.com/legal/privacy/).</small><br/><br/>
<small>El hecho de que no introduzcas los datos de carácter personal que aparecen en el formulario como obligatorios podrá tener como consecuencia que no podamos atender tu solicitud.</small><br/><br/>
<small>Podrás ejercer tus derechos de acceso, rectificación, limitación y suprimir los datos en apilam.es@gmail.com así como el derecho a presentar una reclamación ante una autoridad de control.</small><br/><br/>
<small>Puedes consultar la información adicional y detallada sobre Protección de Datos en esta web: http://e-lactancia.org, así como consultar nuestra propia <a href="http://e-lactancia.org/privacidad/" target="_blank">política de privacidad</a>.</small>


{% else %}

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://apilam.us18.list-manage.com/subscribe/post?u=76518ff38b91295fffe3ffc4b&amp;id=fd44899612" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group input-group">
    <strong>Privacy Policy<span class="asterisk">*</span>
</strong>
    <ul><li><input type="radio" value="I accept the privacy policy" name="GRPD" id="mce-GRPD-0"><label for="mce-GRPD-0">I accept the privacy policy</label></li>
</ul>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_76518ff38b91295fffe3ffc4b_fd44899612" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="I WANT TO JOIN" name="subscribe" id="mc-embedded-subscribe" class="btn btn-submit"></div>
    </div>
</form>
</div>

<small>APILAM informs you that the personal data that you provide to us by filling in this form will be treated by APILAM as responsible for this web.
The purpose of the collection and processing of personal data that we request is to manage the registration of this subscription and send periodic bulletins with information and prospective offer of products or services. </small><br/><br/>
<small>Legitimation: Consent of the interested party </small><br/><br/>
<small>As a user and interested I inform you that the data you provide will be located on the servers of MailChimp (email marketing provider of APILAM) outside the EU in the USA. MailChimp is covered by the EU-US Privacy Shield agreement, whose information is available here, approved by the European Committee for Data Protection. See Mailchimp's privacy policy. (https://mailchimp.com/legal/privacy/). </small><br/><br/>
<small>The fact that you do not enter the personal data that appear on the form as mandatory may have the consequence that we can not meet your request.</small><br/><br/>
<small>You can exercise your rights of access, rectification, limitation and delete the data in apilam.es@gmail.com as well as the right to file a claim with a control authority.</small><br/><br/>
<small>You can consult the additional and detailed information on Data Protection on this website: http://e-lactancia.org, as well as consult our own <a href = "http://e-lactancia.org/privacidad/" target = "_blank">privacy policy</a>. </small>


{% endif %}
                            