{% load i18n %}


<div class="container-fluid header-blue">
    <div class="container">
       {#<p class="navbar-brand-el" >e-lactancia</p>#}
       <div class="navbar-brand-el"><img src="{{ STATIC_URL }}img/logo-apilam-.png" id="top_logo"/></div>
       <div class="col-md-8 col-sm-10 col-xs-12">
                 
            <p class="mensaje-donativo">
            {% trans "Cientos de madres se ven obligadas a interrumpir sus lactancias pese a que pocas situaciones lo justifican." %}
            </p>
            <p class="lead">{% trans "Las mamás y sus bebés te necesitan. Salva lactancias. Dona ahora." %}</p>
       </div>
    </div>
</div> 




