{% extends "lactancia/base_bootstrap3.html" %} 
{% load i18n %}
{% block title %} {% trans 'Privacidad de e-lactancia' %}{% endblock %}


{% block mainpage %}




	<div class="well">

		{% trans '<h2>POLÍTICA DE PRIVACIDAD</h2>' %}


		{% trans '<h3>RESPONSABLE DEL FICHERO</h3>' %}
		
		{% trans '<p>La Asociación para la Promoción e Investigación científica y cultural de la Lactancia Materna, en adelante APILAM, con CIF G98446727, domicilio de contacto sito en C/Bairén 14 - 1, Gandía (Valencia) ESPAÑA y dirección de email <a href="mailto:apilam.es@gmail.com">apilam.es@gmail.com</a>, es la responsable de los ficheros en los que se incluirán los datos personales recogidos y tratados desde esta página web (en adelante <strong>e-lactancia.org</strong>). Estos ficheros se encuentran debidamente inscritos en el Registro General de Protección de Datos de la Agencia Española de Protección de Datos.</p>' %}

		{% trans '<h3>RECOGIDA DE DATOS</h3>' %}
		{% trans '<strong>e-lactancia.org</strong> únicamente recoge los datos de carácter personal que nos proporcione a través de los formularios incluidos en la página web y nuestras direcciones de correo electrónico.' %}

		{% trans '<h3>Usos y Finalidades de los Datos Recogidos</h3>' %}

		{% trans '<p>En <strong>e-lactancia.org</strong> se recogen los datos de carácter personal con las finalidades que se detallan a continuación, si no está conforme con alguna de ellas puede comunicarlo a la dirección de email <a href="mailto:apilam.es@gmail.com">apilam.es@gmail.com</a>. Los usos y finalidades previstos son:</p>' %}

		{% trans '<h4>ENVÍO DE INFORMACIÓN</h4>' %}

		{% trans '<p><strong>e-lactancia.org</strong> empleará los datos personales que nos proporcione con la finalidad de responder a las solicitudes de información que nos envíe. La información introducida en los formularios o correos electrónicos de contacto se podrá emplear, además, para enviarle información por correo electrónico sobre las novedades y promociones de nuestra página web. Los usuarios que no deseen recibir este tipo de información pueden comunicarlo a la dirección de correo electrónico a <a href="mailto:apilam.es@gmail.com">apilam.es@gmail.com</a>.</p>' %}

		{% trans '<h4>COMUNICACIÓN DE DATOS A TERCEROS</h4>' %}
		
		{% trans '<p><strong>e-lactancia.org</strong> no tiene previsto revelar sus datos personales a terceros, salvo en los supuestos en los que una norma legal así lo establezca (administraciones públicas, autoridades administrativas o judiciales, etc)</p>' %}

		{% trans '<h4>USO DE COOKIES</h4>' %}
		{% trans '<strong>e-lactancia.org</strong> emplea cookies, que son archivos de texto ubicados en su ordenador, para mejorar la experiencia del usuario en el portal. En cumplimiento con la Normativa establecida al respecto por la Agencia Española de Protección de Datos, tiene una descripción detallada del uso de cookies en nuestra' %} 
        <a href="{% url 'lactancia:cookies' %}">{% trans 'Política de uso de cookies'  %}</a>.

        {% trans '<h3>SISTEMAS DE RECOGICA DE DATOS</h3>' %}
		{% trans 'En e-lactancia existen diferentes sistemas de captura de información personal y tratamos la información que nos facilitan las personas interesadas con el siguiente fin por cada sistema de captura:'%}
        <lu>
        <li>
        {% trans 'Formulario de suscripción a contenidos: Solicitamos los siguientes datos personales: Nombre, Email, para gestionar la lista de suscripciones, enviar boletines, promociones y ofertas especiales, facilitados por el usuario al realizar la suscripción. Dentro de la web existen varios formularios para activar la suscripción. Los boletines electrónicos o newsletter están gestionados por MailChimp. Informamos que los datos que me facilitas estarán ubicados en los servidores MailChimp (proveedor de email marketing de APILAM) fuera de la UE en EEUU.  MailChimp está acogido al acuerdo EU-US Privacy Shield, cuya información está disponible <a href="https://www.privacyshield.gov/list" target="_blank">aquí</a>, aprobado por el Comité Europeo de Protección de Datos.' %}
        </li>
        <li>
        {% trans 'Formulario de donativos: El usuario dispone de diferentes formularios de donativos sujetos a las condiciones de donación donde se le requerirán datos de contacto y de pago como: Nombre, apellidos, DNI, correo electrónico, teléfono, dirección completa. Informamos de que los datos que nos facilites, incluidos los datos de pago serán recabados y gestionados por la pasarela de pago PayPal ubicada en Europa.' %}
        </li>
        </ul>
		{% trans '<h3>EJERCICIO DE DERECHOS</h3>' %}
		{% trans 'En cualquier momento podrá ejercer los Derechos de acceso, rectificación, cancelación y oposición mediante el envío de la solicitud de ejercicio correspondiente junto con copia del documento oficial que le identifique (DNI, carnet de conducir o pasaporte) a la dirección de correo electrónico <a href="mailto:apilam.es@gmail.com">apilam.es@gmail.com</a>.' %}

		{% trans '<h3>VERSIÓN</h3>' %}
		{% trans 'Esta política de privacidad es de fecha 22/05/2018 y cualquier modificación de sus términos será publicada en esta página web.' %}

	</div>



{% endblock %}
